extends ./header.pug

block content
    h1= message
    div.container
        p Starting using Pug!
    div
        a(href='/') Home
    div
        a(href='/about') About
    div
        ul
            each product in products
                li= product.name