extends ./layout.pug

block content
    include ./header.pug
    hr
    .row
        .card(style='width: 18rem;')
            img.card-img-top(src='/img/' + superhero.image alt=superhero.name)
            .card-body
                form(action="/superheroes/update", method="post")
                    input(type="hidden" name="id" id="id" value=superhero._id)
                    input(type="text", value=superhero.name placeholder="superhero name", required="required", name="superhero")
                    button Update
                a(href="/superheroes/delete/" + superhero._id class="btn btn-danger") Delete